.App {
  align-items: center;
  color: hsl(193, 95%, 68%);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.Card {
  align-items: flex-start;
  background-color: white;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.11), 0 .5rem 1.5rem 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  min-width: 50%;
  padding: 3rem;
}

a {
  color: hsl(262, 52%, 60%);
  text-decoration: none;
}

a:hover {
  color: hsl(193, 95%, 68%);
}